.shoe1 {
  text-align: center;
  color: blueviolet;
  text-shadow: 2px 2px 8px #ff0000;
  cursor: pointer;
  height: 50vh;
  overflow: hidden;
}

.shoe1 > img {
  height: 100%;
}

.shoe {
  display: flex;
  cursor: pointer;
  gap: 10px;
  flex-direction: row;
  height: 100px;
}

.product-thumbnail {
  width: 120px;
  border-radius: 10px;
}

.product-details-main {
  width: 90%;
}

.product-list-thumbnail{
  width: 20em;
  overflow: hidden;
  margin-bottom: 30px;
}

.product-list-thumbnail > img{
  width: 100%;
}