.shoe1 {
  text-align: center;
  color: blueviolet;
  text-shadow: 2px 2px 8px #ff0000;
  cursor: pointer;
  height: 500px;
  width: auto;
}

.shoe {
  display: flex;
  cursor: pointer;
  gap: 10px;
  flex-direction: row;
  height: 100px;
  width: 300px;
}
